/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding setting font inheritance*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

body,
html {
  min-height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-inline-size: 100%;
  display: block;
  object-fit: cover;
  block-size: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --darkviolet: hsl(256 26% 20%);
  --grayishblue: hsl(216 30% 68%);
  --verydarkviolet: hsl(270 9% 17%);
  --darkgrayishviolet: hsl(273 4% 51%);
  --verylightgray: hsl(0 0% 98%);
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --darkred: #842029;
  --lightgreen: #d1e7dd;
  --darkgreen: #0f5132;
  --primaryfont: "DM Serif Display", serif;
  --secondary: "Karla", sans-serif;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;
  --text-xs: 0.75rem;
  --line-height-xs: 1rem;
  --text-sm: 0.875rem;
  --line-height-sm: 1.25rem;
  --text-base: 1rem;
  --line-height-base: 1.5rem;
  --text-lg: 1.125rem;
  --line-height-lg: 1.75rem;
  --text-xl: 1.25rem;
  --line-height-xl: 1.75rem;
  --text-2xl: 1.5rem;
  --line-height-2xl: 2rem;
  --smalltext: 0.8em;
  --text-3xl: 1.875rem;
  --border-radius: 0.5em;
  --letter-spacing: 1px;
  --transition: 250ms ease-in-out;
  --max-width: 1124px;
  --fixed-width: 600px;
  --shadow-s: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media screen and (min-width: 50em) {
  :root {
    --text-base: 1.125rem;
    --line-height-base: 1.75rem;
    --text-lg: 1.25rem;
    --line-height-lg: 1.75rem;
    --text-xl: 1.5rem;
    --line-height-xl: 2rem;
    --text-2xl: 1.875rem;
    line-height: 2.25rem;
    --text-3xl: 2.25rem;
  }
}

:focus {
  background-color: var(--darkviolet);
  outline-offset: 0.125em;
  padding: 0.25em 0.5em;
}

.visually-hiden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon-close {
  display: none;
}

body {
  font-size: var(--text-base);
  line-height: var(--line-height-base);
  background-color: var(--verylightgray);
  font-family: var(--secondary);
  font-weight: var(--fw-reg);
}

p {
  margin-bottom: 1rem;
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  font-family: var(--primaryfont);
}

h1 {
  margin-top: 0;
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--line-height-lg);
}

h5 {
  font-size: var(--text-base);
}

small,
.text-small {
  font-size: var(--smalltext);
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  inline-size: 100%;
  max-inline-size: 80rem;
  padding-inline: 2em;
  margin-inline: auto;
}

.header {
  display: block;
  padding: 0.5em 1.5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--verylightgray);
  box-shadow: var(--shadow-md);
}

.brand-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  padding: 0.5em;
  background: transparent;
  position: relative;
  border: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}

.nav-open.toggle-btn {
  position: fixed;
}

.nav-open .navbar {
  transform: translateX(0);
}

.nav-open .icon-close {
  display: block;
}

.nav-open .icon-hamburger {
  display: none;
}

.navbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkviolet);
  color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  isolation: isolate;
  overflow: hidden;
}

.navbar::after {
  content: url(../images/bg-pattern-mobile-nav.svg);
  display: block;
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: -2em;
  z-index: -1;
}

.navlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navlist-item+.navlist-item {
  padding-top: 1.5em;
}

.navlist-link {
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.25em;
}

.navlist-link:hover,
.navlist-link:focus {
  opacity: 0.7;
  color: var(--white);
  background-color: var(--darkviolet);
}

.navlist-link:active {
  color: var(--white);
}

.bg-pattern-mobile {
  position: relative;
  top: 4em;
  left: -1em;
  bottom: -10em;
}

.main {
  margin-block: 1em;
  padding: 1.5em 0;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--darkviolet);
  color: var(--white);
  isolation: isolate;
  position: relative;
  z-index: 2;
}

.intro::after {
  content: url(../images/bg-pattern-intro-right-mobile.svg);
  position: absolute;
  right: 0;
  bottom: -11.25em;
  display: block;
  object-fit: cover;
  z-index: -1;
}

.image-intro-desktop {
  display: none;
}

.image-intro-mobile {
  display: block;
}

.right-desktop-img {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  height: 100%;
  display: none;
}

.intro-text-section {
  padding: 1.5em 1em;
  isolation: isolate;
  position: relative;
}

.intro-text-section::before {
  content: url(../images/bg-pattern-intro-left-mobile.svg);
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  display: block;
  z-index: -1;
}

.left-desktop-img {
  display: block;
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: -18em;
  z-index: -1;
  display: none;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  border: var(--white) solid 0.0825em;
  padding: 0.25em 0.75em;
  margin: 1em 0;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  color: var(--verydarkviolet);
}

.features {
  padding: 1.5em 1em;
}

.features::before {
  content: "";
  background-color: var(--darkgrayishviolet);
  display: block;
  width: 5em;
  height: 0.1em;
  margin: 0 auto;
  margin-block: 1em;
}

.feature {
  margin-top: 1.5em;
}

.about-section {
  background-color: var(--darkviolet);
  color: var(--white);
  padding: 1.5em 1em;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.about-section::before {
  content: url(../images/bg-pattern-how-we-work-mobile.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
}

.footer {
  background-color: var(--darkgrayishviolet);
  padding: 1.5em 1em;
  text-align: center;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  display: block;
}

.footer::before {
  content: url(../images/bg-pattern-footer-mobile.svg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.social-media {
  display: block;
  padding: 1.5em 0;
}

.footer-title {
  text-transform: uppercase;
  margin: 0;
}

.footer-insure-about {
  margin-top: 1em;
}

.footer-list-primary {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.footer-list-primary .list-link {
  font-weight: var(--fw-reg);
}

.list-secondary .list-link {
  font-weight: var(--fw-reg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228 12% 92%);
}

@media screen and (min-width: 30em) {
  .image-intro-mobile {
    display: none;
  }

  .image-intro-desktop {
    display: block;
  }
}

@media screen and (min-width: 43em) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: " header header header header""main main main main ""footer footer footer footer";
  }

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .icon-hamburger {
    display: none;
  }

  .navbar {
    background-color: inherit;
    transform: translateX(0);
    position: static;
    width: 100%;
    justify-content: end;
  }

  .navbar::after {
    display: none;
  }

  .navlist {
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 0.75em;
    white-space: nowrap;
  }

  .navlist-item+.navlist-item {
    padding: 0;
  }

  .navlist-link {
    color: var(--verydarkviolet);
  }

  .intro {
    flex-direction: row;
    position: relative;
    isolation: isolate;
    z-index: -1;
    gap: 2em;
    text-align: left;
  }

  .intro::after {
    display: none;
  }

  .right-desktop-img {
    display: block;
  }

  .intro-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    z-index: 3;
    padding-inline: 2em;
  }

  .title {
    margin-top: 1em;
  }

  .hero-section-img {
    max-width: 100%;
    position: relative;
    top: 4em;
    bottom: -3em;
    right: 3em;
    z-index: 1;
  }

  .intro-text-section::before {
    display: none;
  }

  .left-desktop-img {
    display: block;
    max-width: 100%;
    position: absolute;
    left: 0;
    bottom: -18em;
    z-index: -1;
  }

  .intro-deco-line::after {
    content: "";
    width: 6em;
    height: 0.125em;
    display: block;
    z-index: -1;
    background-color: var(--darkgrayishviolet);
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
    margin: 10em 6em;
  }

  .feature {
    display: flex;
    gap: 1.5em;
  }

  .feature>* {
    flex: 1;
  }

  .features::before {
    margin: 1em 0;
  }

  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 4em 6em;
    padding: 2em;
  }

  .about-section::before {
    content: url(../images/bg-pattern-how-we-work-desktop.svg);
  }

  .about-title {
    max-width: 9em;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "footer-header footer-header footer-header footer-header""footer-content footer-content footer-content footer-content""footer-footer footer-footer footer-footer footer-footer";
  }

  .social-media {
    grid-area: footer-header;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
  }

  .footer-insure-about {
    grid-area: footer-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em 0;
  }

  .attribution {
    grid-area: footer-footer;
    margin: 2em 0;
  }

  .footer::before {
    content: url(../images/bg-pattern-footer-desktop.svg);
  }
}